<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css" id="site_styles">
    <link rel="shortcut icon" type="image/png" href="{{projectAssets}}/favicon.png">
    <script src="{{projectAssets}}/vendor/yui-min.js"></script>
</head>
<body>

<div id="doc">
    <div id="hd" class="header">
        <div class="project-title">
            {{#if projectLogo}}
                <img class="logo" src="{{projectLogo}}" title="{{projectName}}">
            {{/if}}
            {{#if projectName}}
                <h1 class="project-name">{{projectName}}</h1>{{#if projectVersion}} <span class="project-version">{{projectVersion}}</span>{{/if}}
            {{/if}}

            <a href="#index" class="index-jump-link">back to index</a>

        </div>
    </div>
    <div id="bd" class="">

        <div id="docs-sidebar" class="sidebar apidocs">
            {{>sidebar}}
        </div>

        <div id="docs-main" class="apidocs">
            <div class="content container">
                {{>layout_content}}
            </div>
        </div>

    </div>
</div>
<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<script>prettyPrint();</script>
<script src="{{projectAssets}}/vendor/jquery.min.js"></script>
<script src="{{projectAssets}}/vendor/waypoints.min.js"></script>
<script src="{{projectAssets}}/js/main.js"></script>
<script src="{{projectAssets}}/js/yui-prettify.js"></script>
<script src="{{projectAssets}}/../api.js"></script>
<script src="{{projectAssets}}/js/api-filter.js"></script>
<script src="{{projectAssets}}/js/api-list.js"></script>
<script src="{{projectAssets}}/js/api-search.js"></script>
<script src="{{projectAssets}}/js/apidocs.js"></script>
</body>
</html>
